
.info-box button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0;

}

/*    Sound    */

.sound-button {
  position: absolute;
  display: block;
  right:2em;
  bottom: 2em;
  width: 3em;
  height: 3em;
  background-color: rgba(22, 90, 165, 0.2);
  border-radius: 50%;
  padding: 1em;
}

.sound-button.hover {
  background-color: rgba(22, 90, 165, 1);
}
