/*    Контейнеры    */
#root {
  /* overflow: hidden;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%; */
}


/*
::-webkit-scrollbar {
    width: .8em;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    background: #ffd39a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ea8400;
} */


#Container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  display: block;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  line-height: 0;
}

#ScrollPlace {
  position: absolute;
  display: block;
  left:0px;
  top:0px;
  bottom:0px;
  width: 100%;
  line-height: 0;
  overflow-y: scroll;
  overflow-x: auto;
}

#StatusBar {
  display: block;
  width: 100%;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

#StatusBar div{
  font-size: 12px;
  color: #999999;
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
}


#Footer {
  display: block;
  width: 100%;
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #dddddd;
  text-align: right;
}

#Footer div{
  font-size: 12px;
  color: #999999;
  white-space: nowrap;
  display: inline-block;
  padding: 5px;
}

/*    Затемнение    */

.fade {
  background-color: #fff;
  position: absolute;
  display: block;
  transition: opacity 300ms;
  pointer-events: none;
}

/*    Креатив    */

.creative {
  background-color: #fff;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* background-color:#999999; */
  line-height: normal;

  /* border-width: 1px;
  border-style: dashed;
  border-color: #DDDDDD; */
}


.creative-title {
  position: relative;
  display: block;
  font-size: 9px;
}

.status-item {
  position: relative;
  display: inline-block;
  float: right;
  padding: 2px;
  color: #666666;
}

.creative-status-bar {
  position: relative;
  display: block;
  font-size: 9px;
}

.title-item {
  position: relative;
  display: inline-block;
  padding: 2px;
  color: #666666;
}


.demo-item {
  /* position: absolute; */
  /* left:0; */
  /* top:0; */
  background-color: #DDDDDD;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8px;
}
.demo-item:hover {
  color: #FFFFFF;
  background-color: #999999;
  cursor: pointer;
}

/* .demo-item {
  position: absolute;
  right:0;
  bottom:0;
  background-color: #DDDDDD;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 8px;
}
.demo-item:hover {
  color: #FFFFFF;
  background-color: #999999;
  cursor: pointer;
} */

.open-icon {
  font-size: 14px;
  line-height: 9px;
  color: #999999;
}


/*    Слои    */

.layer {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
}

.frame-img {
    position: absolute;
    display: block;
    transition: opacity 300ms;
    left:0px;
    top:0px;
    margin: 0px;
    padding: 0px;
}
.frame-img:before {
  content: 'Кадр не доступен';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #EEEEEE;
  color: currentColor;
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDDDD;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 10px;
  color: #999999;
  padding: 5px;
}

.empty-div,
.nocontent,
.noframe {
    position: absolute;
    display: block;
    left:0px;
    top:0px;
    margin: 0px;
    padding: 5px;
    background-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 10px;
    color: #999999;
}

.noframe {
  background-color: #EEEEEE;
  border-color: #DDDDDD;
}

.demo-iframe {
    position: absolute;
    display: block;
    left:0px;
    top:0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.backup-img {
    position: absolute;
    display: block;
    left:0px;
    top:0px;
    margin: 0px;
    padding: 0px;
}

.backup-img:before {
  content: 'Заглушка не доступна';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #DDDDDD;
  color: currentColor;
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 10px;
  color: #999999;
  padding: 5px;
}

.adverter {
  color:#00adb5;
}

/*    Боксы    */
/*
.info-box {
  position: absolute;
  display: block;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 1em;
} */
